/*--字体图标--*/

@font-face {
    font-family: "weijinsuo";
    src: url('../font/MiFie-Web-Font.eot') format('embedded-opentype'), url('../font/MiFie-Web-Font.svg') format('svg'), url('../font/MiFie-Web-Font.ttf') format('truetype'), url('../font/MiFie-Web-Font.woff') format('woff');
}

[class^='icon-'], [class*=' icon-'] {
    font-family: 'weijinsuo' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.icon-mobilephone::before {
    content: "\e908";
    font-size: 13px;
}

.icon-telephone::before {
    content: "\e909";
    font-size: 15px;
}

.icon-logo::before {
    content: "\e93e";
}

.icon-icon::before {
    content: "\e920";
}

.icon-logo::before {
    content: "\e93e";
}

.icon-icon::before {
    content: "\e920";
}

.icon-uniE907:before {
    content: "\e907";
}

.icon-uniE906:before {
    content: "\e906";
}

.icon-uniE905:before {
    content: "\e905";
}

.icon-uniE904:before {
    content: "\e904";
}

.icon-uniE903:before {
    content: "\e903";
}

.icon-uniE902:before {
    content: "\e902";
}

.icon-uniE901:before {
    content: "\e901";
}

.icon-uniE900:before {
    content: "\e900";
}

.icon-news01:before {
    content: "\e90e";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news02:before {
    content: "\e90f";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news03:before {
    content: "\e910";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news04:before {
    content: "\e911";
    font-size: 28px;
    color: #EAEAEA;
}


.icon-uniE930:hover {
    color: #df3232;
}

.icon-uniE930:before {
    content: "\e946";
}

.icon-uniE92F:hover {
    color: #e8380d;
}

.icon-uniE92F:before {
    content: "\e92f";
}

.icon-uniE92E:hover {
    color: #ed6f00;
}

.icon-uniE92E:before {
    content: "\e92e";
}

.icon-uniE92A:hover {
    color: #159f69;
}

.icon-uniE92A:before {
    content: "\e92a";
}

.icon-uniE929:hover {
    color: #07569e;
}

.icon-uniE929:before {
    content: "\e929";
}

.icon-uniE931:hover {
    color: #004098;
}

.icon-uniE931:before {
    content: "\e931";
}

.icon-uniE92C:hover {
    color: #d32019;
}

.icon-uniE92C:before {
    content: "\e92c";
}

.icon-uniE92B:hover {
    color: #3eac4a;
}

.icon-uniE92B:before {
    content: "\e92b";
}

.icon-uniE92D:hover {
    color: #2bb289;
}

.icon-uniE92D:before {
    content: "\e92d";
}

/*--/字体图标--*/

/*--Bootstrap扩展样式--*/
.btn-main {
    color: #FFFFFF;
    background-color: #E92322;
    border-color: #DB3B43;
}

.btn-main:hover,
.btn-main:focus,
.btn-main:active,
.btn-main.active,
.open .dropdown-toggle.btn-main {
    color: #FFFFFF;
    background-color: #E92322;
    border-color: #DB3B43;
}

.btn-main:active,
.btn-main.active,
.open .dropdown-toggle.btn-main {
    background-image: none;
}

.btn-main.disabled,
.btn-main[disabled],
fieldset[disabled] .btn-main,
.btn-main.disabled:hover,
.btn-main[disabled]:hover,
fieldset[disabled] .btn-main:hover,
.btn-main.disabled:focus,
.btn-main[disabled]:focus,
fieldset[disabled] .btn-main:focus,
.btn-main.disabled:active,
.btn-main[disabled]:active,
fieldset[disabled] .btn-main:active,
.btn-main.disabled.active,
.btn-main[disabled].active,
fieldset[disabled] .btn-main.active {
    background-color: #E92322;
    border-color: #DB3B43;
}

.btn-main .badge {
    color: #E92322;
    background-color: #FFFFFF;
}

.navbar-main {
    background-color: #fff;
    border-color: #f5f5f5;
}

.navbar-main .navbar-brand {
    color: #777;
}

.navbar-main .navbar-brand:hover,
.navbar-main .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}

.navbar-main .navbar-text {
    color: #777;
}

.navbar-main .navbar-nav > li > a {
    color: #777;
}

.navbar-main .navbar-nav > li > a:hover,
.navbar-main .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 2px solid #E92322;
}

.navbar-main .navbar-nav > .active > a,
.navbar-main .navbar-nav > .active > a:hover,
.navbar-main .navbar-nav > .active > a:focus {
    color: #555;
    background-color: transparent;
    border-bottom: 2px solid #E92322;
}

.navbar-main .navbar-nav > .disabled > a,
.navbar-main .navbar-nav > .disabled > a:hover,
.navbar-main .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}

.navbar-main .navbar-toggle {
    border-color: #ddd;
}

.navbar-main .navbar-toggle:hover,
.navbar-main .navbar-toggle:focus {
    background-color: #ddd;
}

.navbar-main .navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar-main .navbar-collapse,
.navbar-main .navbar-form {
    border-color: #e7e7e7;
}

.navbar-main .navbar-nav > .open > a,
.navbar-main .navbar-nav > .open > a:hover,
.navbar-main .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

@media (max-width: 767px) {
    .navbar-main .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

    .navbar-main .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-main .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }

    .navbar-main .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-main .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-main .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }

    .navbar-main .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-main .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-main .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}

.navbar-main .navbar-link {
    color: #777;
}

.navbar-main .navbar-link:hover {
    color: #333;
}

.navbar-main .btn-link {
    color: #777;
}

.navbar-main .btn-link:hover,
.navbar-main .btn-link:focus {
    color: #333;
}

.navbar-main .btn-link[disabled]:hover,
fieldset[disabled] .navbar-main .btn-link:hover,
.navbar-main .btn-link[disabled]:focus,
fieldset[disabled] .navbar-main .btn-link:focus {
    color: #ccc;
}

.panel-product {
    border-color: #ddd;
    box-shadow: 1px 1px 5px #c0c0c0;
}

.panel-product > .panel-heading {
    float: right;
    height: 150px;
    width: 120px;
    border-left: 1px dashed #c0c0c0;
    padding: 45px 0 35px;
    text-align: center;
    position: relative;
}

.panel-product > .panel-heading::before, .panel-product > .panel-heading::after {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    border-radius: 50%;
    background-color: #f0f0f0;
}

.panel-product > .panel-heading::before {
    left: -8px;
    top: -8px;
}

.panel-product > .panel-heading::after {
    left: -8px;
    bottom: -8px;
    box-shadow: 0 2px 2px #c0c0c0 inset;
}

.panel-product .panel-heading p strong {
    font-size: 32px;
    color: #E92322;
}

.panel-product .panel-heading p sub {
    color: #E92322;
}

.panel-product > .panel-body {
    margin-right: 120px;
    height: 150px;
}

.panel-product .panel-body h5 {
    font-size: 16px;
    margin-top: 0;
}

.panel-product .panel-body dt {
    font-size: 10px;
    color: #c0c0c0;
}

.panel-product .panel-body dd {
    font-size: 16px;
    margin-bottom: 5px;
}

.panel-product > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}

.panel-product > .panel-heading .tooltips {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20px;
}

.panel-product > .panel-heading .tooltips .badge {
    background-color: transparent;
    border-radius: 0;
    padding: 3px;
}

.panel-product > .panel-heading .tooltips .badge-1 {
    color: #E92322;
    border: 1px solid #E92322;
}

.panel-product > .panel-heading .tooltips .badge-2 {
    color: #399;
    border: 1px solid #399;
}

.panel-product.panel-disabled {
    background-color: #e0e0e0;
}

.panel-product.panel-experience {
    background-color: #E92322;
}

.panel-product.panel-experience > .panel-heading {
    color: #fff;
}

.panel-product.panel-experience::before {
    font-family: 'weijinsuo' !important;
    content: "\e915";
    color: #fff;
    position: absolute;
    font-size: 32px;
    top: 19px;
}

.panel-product.panel-experience > .panel-heading strong,
.panel-product.panel-experience > .panel-heading sub,
.panel-product.panel-experience > .panel-body h5,
.panel-product.panel-experience > .panel-body dd {
    color: #fff;
}

/*--/Bootstrap扩展样式--*/

/*--公共样式--*/
body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

/*--/公共样式--*/

/*--顶部区域样式--*/

#header {
}

#header > .top-bar {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #c0c0c0;
}

#header > .top-bar > .container > .row > div {
    height: 40px;
    font-size: 12px;
    color: #888;
}

#header > .top-bar > .container > .row > div + div {
    border-left: 1px solid #c0c0c0;
}

#header a {
    color: #888;
}

#header a:hover {
    text-decoration: none;
}

#header .mobie-link > img {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    top: 30px;
    z-index: 1001;
}

#header .mobie-link:hover > img {
    display: block;
}

#header .btn-main {
    color: #fff;
}

#header .navbar-main .navbar-brand {
    height: 80px;
}

#header .navbar-main li > a {
    height: 80px;
    line-height: 48px;
    font-size: 14px;
}

#header .icon-icon {
    color: #E92322;
    font-size: 50px;
    line-height: 50px;
    vertical-align: middle;
}

#header .icon-logo {
    color: #333;
    font-size: 32px;
    line-height: 50px;
    vertical-align: middle;
}

#header .navbar-toggle {
    margin-top: 23px;
    margin-bottom: 23px;
}

/*--/顶部区域样式--*/

/*--图片轮播样式--*/

#main_ad {

}

#main_ad .carousel-inner .item {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

#main_ad .carousel-inner .item > img {
    width: 100%;
}

@media (min-width: 768px) {
    #main_ad .carousel-inner .item {
        height: 410px;
    }
}

/*--/图片轮播样式--*/

/*--网站特色--*/

#special {
    padding: 40px 0 20px;
    border-bottom: 1px solid #c0c0c0;
}

#special .media {
    margin-bottom: 20px;
}

#special a {
    color: #333;
    text-decoration: none;
}

#special a :hover {
    color: #E92322;
}

#special a i {
    font-size: 30px;
    padding: 10px 0;
}

/*--/网站特色--*/

/*--立即预约--*/

#booking {
    padding: 20px 0;
    border-bottom: 1px solid #c0c0c0;
}

#booking p {
    padding: 10px 0;
    margin-bottom: 0;
    font-size: 16px;
}

#booking .pull-left > span, #booking .pull-left > a {
    color: #E92322;
}

#booking .pull-left > a {
    border-bottom: 1px dashed #E92322;
}

#booking .pull-left > a:hover {
    text-decoration: none;
}

#booking .pull-right > a {
    color: #333;
}

#booking .pull-right > a:hover {
    text-decoration: none;
}

/*--/立即预约--*/

/*--产品介绍--*/

#products {
    padding: 20px 0;
    background-color: #f0f0f0;
}

#products .nav-tabs li {

}

#products .nav-tabs li.active {

    border-bottom: 4px solid #E92322;
}

#products .nav-tabs li > a {
    color: #333;
    font-size: 15px;
}

#products .nav-tabs li > a:hover {
    color: #111;
}

#products .nav-tabs li.active > a {
    background-color: transparent;
    border-color: transparent;
}

#products .tab-pane .product {
    margin: 25px 0;
}

/*--/产品介绍--*/

/*--新闻列表--*/

#news {
    padding: 40px 0;
}

#news .news-title {
    font-size: 18px;
    font-weight:400;
    padding: 10px;
    border-bottom: 1px dashed #c0c0c0;
    position: relative;
}

#news .news-title::before{
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px dashed #c0c0c0;
    position: absolute;
    bottom: -5px;
    right: -10px;
}

#news .nav-pills{
    text-align: center;
}

#news .nav-pills .line{
    height: 100%;
    border-left: 1px dashed #c0c0c0;
    position: absolute;
    top: 0;
    left: 55%;
    z-index: -1;
}

#news .nav-pills li a{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    padding: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#news .nav-pills li.active a,#news .nav-pills a:hover{
    background-color: #E92322;
}

#news .tab-content ul {
    list-style: none;
}

#news .tab-content ul li{
    list-style: none;
    margin: 15px 0;
}

#news .tab-content ul li a{
    color: #000;
}

#news .tab-content ul li a:hover {
    color: #000;
    text-decoration: none;
}

@media (max-width: 756px) {
    .nav-pills li{
        float: left;
        padding-top: 20px;
        padding-left: 20px;
    }
}

/*--/新闻列表--*/


/*--合作伙伴--*/

#partner{
    padding: 40px 0;
}

#partner ul{
    list-style: none;
    text-align: center;
}

#partner ul li{
    display: inline-block;
    padding: 0 20px;
}

#partner ul li a{
    font-size: 50px;
    width: 80px;
    color: #e0e0e0;
}

#partner ul li a:hover{
    text-decoration: none;
    color: #E92322;
}

/*--/合作伙伴--*/